.app-container {
    background-color: #fff;
    .main-wrapper {
        background-color: #fff;
        padding: 40px 0 0 0;
        position: relative;

        .content-wrapper {
            height: calc(100vh - 60px - 40px);
            overflow: auto;
            -webkit-overflow-scrolling: touch;
            
        }
    }
}