.app-container {
    background-color: #fdfdfd;
    .main-wrapper {
        background-color: #fff;
        padding: 40px 0 0 0;
        position: relative;

        .content-wrapper {
            height: calc(100vh - 64px - 40px);
            overflow: auto;
            -webkit-overflow-scrolling: touch;
            .content-inner-wrapper {
                position: relative;
                padding: 0 300px 40px 40px;
            }
        }
        .content-wrapper .loading {
            position: fixed;
            right: 1000px;
        }
    }
}