.app-container {
    background-color: #fdfdfd;
    .layout-wrapper {
        background-color: #fff;
        padding: 0 0 0 0;
        position: relative;

        .content-wrapper {
            height: calc(100vh - 64px - 0px);
            padding: 40px 0 40px 0;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
            // .content-inner-wrapper {
            //     position: relative;
            //     padding: 0 300px 40px 40px;
            // }
            .inner-content-wrapper {
                padding-bottom: 100px;
            }
            .layout-footer {
                text-align: center;
            }
        }
        .content-wrapper .loading {
            position: fixed;
            right: 1000px;
        }
    }
}